<div class="bg__container full__height">
  <div class="container">
    <section class="bg__section section__form">
      <form action="/company/register" class="form" method="POST">
        <div class="form__content">
          <h2 class="form__title">Registra tu negocio</h2>
          <section class="form__container">
            <article class="form__group">
              <input type="text" name="rucCompany" id="ruc-company" class="form__input">
            </article>
          </section>
        </div>
      </form>
    </section>
  </div>
</div>