<div class="sub__header sub__header--fixed">
  <div class="sub__header__container">
    <article class="sub__header__content">
      <section class="section__sub__header">
        <article class="article__sub__header sub__header__actions">
          <div class="sub__header__actions__container">
            <div class="sub__header__action">
              <a href="/users-rol" class="sub__header__link">
                <figure class="sub__header__figure">
                  <img src="/assets/icon-back.svg" alt="Icon Back" class="sub__header__img">
                </figure>
              </a>
              <span class="sub__header__span">Volver</span>
            </div>
          </div>
        </article>
      </section>
    </article>
  </div>
</div>
<section class="section__all--forms">
  <div class="container__form__container">
    <div class="container">
      <section class="section__form">
        <form action="/users-rol/register" method="POST" class="form">
          <div class="form__content">
            <h2 class="form__title">Registro de Rol</h2>
            <div class="form__img">
              <figure class="login__figure">
                <img src="/assets/logo-aprendedor.webp" alt="Logo Aprendedor" class="login__img">
              </figure>
            </div>
            <section class="form__container">
              <article class="form__group">
                <input class="form__input" type="text" name="nombreRol" id="nombre_rol" placeholder=" " title="Define el nombre del Rol" required>
                <label for="nombre_rol" class="form__label">Rol:</label>
                <span class="form__line"></span>
              </article>
              <article class="form__group">
                <textarea class="form__input form__textarea" name="descripcionRol" id="descripcion_rol" placeholder=" " title="Describe el trabajo del rol" required></textarea>
                <label for="descripcion_rol" class="form__label">Descripción:</label>
                <span class="form__line"></span>
              </article>
              <article class="form__group">
                <div class="permissions__header">
                  <input type="checkbox" id="proveedores-all" class="parent__checkbox">
                  <label for="proveedores-all" class="permissions__label">Proveedores</label>
                </div>
                <div class="permissions__container">
                  <div class="permissions__item">
                    <input type="checkbox" name="permisosRol" id="crear-proveedor" class="child__checkbox" value="crear-proveedor">
                    <label for="crear-proveedor" class="permissions__label">Crear Proveedor</label>
                  </div>
                  <div class="permissions__item">
                    <input type="checkbox" name="permisosRol" id="editar-proveedor" class="child__checkbox" value="editar-proveedor">
                    <label for="editar-proveedor" class="permissions__label">Editar Proveedor</label>
                  </div>
                  <div class="permissions__item">
                    <input type="checkbox" name="permisosRol" id="eliminar-proveedor" class="child__checkbox" value="eliminar-proveedor">
                    <label for="eliminar-proveedor" class="permissions__label">Eliminar Proveedor</label>
                  </div>
                  <div class="permissions__item">
                    <input type="checkbox" name="permisosRol" id="ver-proveedores" class="child__checkbox" value="ver-proveedor">
                    <label for="ver-proveedor" class="permissions__label">Ver Proveedores</label>
                  </div>
                  <div class="permissions__item">
                    <input type="checkbox" name="permisosRol" id="ver-proveedores-detalle" class="child__checkbox" value="ver-proveedor-detalle">
                    <label for="ver-proveedor-detalle" class="permissions__label">Detalles Proveedor</label>
                  </div>
                  <div class="permissions__item">
                    <input type="checkbox" name="permisosRol" id="exportar-proveedor" class="child__checkbox" value="exportar-proveedor">
                    <label for="exportar-proveedor" class="permissions__label">Exportar Proveedores</label>
                  </div>
                </div>
              </article>
              <button class="form__submit">Crear Rol</button>
            </section>
          </div>
        </form>
      </section>
    </div>
  </div>
</section>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const $parentCheckboxes = document.querySelectorAll(".parent__checkbox");

    $parentCheckboxes.forEach(parent => {
      const $childCheckboxes = parent.closest(".form__group").querySelectorAll(".child__checkbox");

      // Marcar o desmarcar los hijos cuando el padre cambia
      parent.addEventListener("change", () => {
        $childCheckboxes.forEach(child => {
          child.checked = parent.checked;
        });
      });

      // Marcar o desmarcar el padre cuando algun hijo cambia
      $childCheckboxes.forEach(child => {
        child.addEventListener("change", () => {
          const allChecked = Array.from($childCheckboxes).every(child => child.checked);
          parent.checked = allChecked;
        });
      });
    });
  });
</script>