<section class="delete__section">
  <article class="delete__content">
    <h5 class="items__name">Eliminar Registro</h5>
    <div class="item__delete view__scrollbar">
      <div class="item__info record">
        <article class="items__header items__grid record">
          <div class="flex-c-c">DNI/RUC:</div>
          <div class="flex-c-c">Nombres:</div>
        </article>
        <article class="items__data items__grid record">
          <div class="flex-c-c">{{record.nombreRegistro}}</div>
          <div class="flex-c-c">{{record.descripcionRegistro}}</div>
        </article>
      </div>
    </div>
  </article>
  <section class="flex-c-c modal__delete">
    <article class="modal__delete--content">
      <h4 class="modal__delete--title">¿Estás seguro que deseas eliminar este Registro?</h4>
      <div class="modal__delete--btns">
        <a href="/records" class="modal__delete--btn">Cancelar</a>
        <a href="/records/{{record._id}}/delete" class="modal__delete--btn delete__btn">Eliminar</a>
      </div>
    </article>
  </section>
</section>