<section class="section__form">
  <form action="/records/register" method="POST" class="form">
    <h2 class="form__title">Tipo de Registro</h2>
    <div class="form__img">
      <figure class="login__figure">
        <img src="/assets/logo-aprendedor.webp" alt="Logo Aprendedor" class="login__img">
      </figure>
    </div>
    <section class="form__container">
      <article class="form__group">
        <input class="form__input" type="text" name="nombreRegistro" id="nombre_tipo_registro" placeholder=" " title="Nombre del registro" required>
        <label for="nombre_tipo_registro" class="form__label">Nombre:</label>
        <span class="form__line"></span>
      </article>
      <article class="form__group">
        <textarea class="form__input form__textarea" name="descripcionRegistro" id="descripcion_tipo_registro" placeholder=" " title="Descripción del registro" required></textarea>
        <label for="descripcion_tipo_registro" class="form__label">Descripción:</label>
        <span class="form__line"></span>
      </article>
      <button class="form__submit">Crear Registro</button>
    </section>
  </form>
</section>