{{> back-form backUrl = "/stock-locations"}}
<section class="section__all--forms">
  <div class="container__form__container">
    <div class="container">
      <section class="section__form">
        <form action="/stock-locations/{{stockLocation._id}}/edit" method="POST" class="form">
          <div class="form__content">
            <h2 class="form__title">Editar Ubicaión</h2>
            <div class="form__img">
              <figure class="login__figure">
                <img src="{{logoUrl}}" alt="Logo Aprendedor" class="login__img">
              </figure>
            </div>
            <section class="form__container">
              <article class="form__group">
                <input class="form__input" type="text" name="nombreStockUbicacion" id="edit_nombre_stock_ubicacion" placeholder=" " title="Nombre de la ubicación" value="{{stockLocation.nombreStockUbicacion}}" required>
                <label for="edit_nombre_stock_ubicacion" class="form__label">Ubicación:</label>
                <span class="form__line"></span>
              </article>
              <article class="form__group">
                <textarea class="form__input form__textarea" name="descripcionStockUbicacion" id="edit_descripcion_stock_ubicacion" placeholder=" " title="Descrpción de la ubicación" required>{{stockLocation.descripcionStockUbicacion}}</textarea>
                <label for="edit_descripcion_stock_ubicacion" class="form__label">Descripción:</label>
                <span class="form__line"></span>
              </article>
              <button class="form__submit">Actualizar</button>
            </section>
          </div>
        </form>
      </section>
    </div>
  </div>
</section>