{{> back-form backUrl = "/floors"}}
<section class="section__all--forms">
  <div class="container__form__container">
    <div class="container">
      <section class="section__form">
        <form action="/floors/register" method="POST" class="form">
          <div class="form__content">
            <h2 class="form__title">Registro de Piso</h2>
            <div class="form__img">
              <figure class="login__figure">
                <img src="{{logoUrl}}" alt="Logo Aprendedor" class="login__img">
              </figure>
            </div>
            <section class="form__container">
              <article class="form__group">
                <input type="number" class="form__input" name="numeroPiso" id="numero_piso" placeholder=" " title="Numero de piso" required>
                <label for="numero_piso" class="form__label">Número:</label>
                <span class="form__line"></span>
              </article>
              <article class="form__group">
                <textarea class="form__input form__textarea" name="descripcionPiso" id="descripcion_piso" placeholder=" " title="Descripción del piso"></textarea>
                <label for="descripcion_piso" class="form__label">Descripción:</label>
                <span class="form__line"></span>
              </article>
              <button class="form__submit">Registrar</button>
            </section>
          </div>
        </form>
      </section>
    </div>
  </div>
</section>